
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success">
    @ViewBag.uyari
</div>

@using (Html.BeginForm("ResetPassword", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <br />


    <div class="container">
        <div class="form-group">
            <div class="form-group">
                <input type="email" name="eposta" placeholder="Email" />
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Reset Password" class="btn btn-success" />
            </div>
        </div>
    </div>
}
